# Output directories
**/target
*/bin
*/tmp

# No commited user webapps
**/lv-user-webapps

# Index generation
*-sub

# Maven build intermediates
# From the maven shade plugin.
dependency-reduced-pom.xml
*.versionsBackup

**/.settings/**
**/.metadata/**
**/target/**
.classpath
.project

# Editors
**/*~

# Operating systems
.DS_Store
